<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<style>

    td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
    }
</style>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>title</th>
        <th>priority</th>
    </tr>
    </thead>
    <tbody>
{#    {% for board in boards %}#}
{#        <tr>#}
{#            <td><a  href="{{ url_for('get_cards_for_board', board_id=board['id']) }}">{{ board['id'] }}</a>#}
{#            </td>#}
{#            <td><a  href="{{ url_for('get_cards_for_board', board_id=board['id']) }}">{{ board['title'] }}</a></td>#}
{#            <td><a  href="{{ url_for('get_cards_for_board', board_id=board['id']) }}">{{ board['priority'] }}</a></td>#}
{##}
{#        </tr>#}
{#    {% endfor %}#}
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>board_id</th>
        <th>status_id</th>
        <th>title</th>
        <th>card_order</th>
        <th>archived</th>
    </tr>
    </thead>
    <tbody>
    {% for board in cards %}
        <tr>
            <td><a  href="{{ url_for('get_cards_for_board', board_id=board['board_id']) }}">{{ board['id'] }}</a></td>
            <td><a  href="{{ url_for('get_cards_for_board', board_id=board['board_id']) }}">{{ board['board_id'] }}</a></td>
            <td><a  href="{{ url_for('get_cards_for_board', board_id=board['board_id']) }}">{{ board['status_id'] }}</a></td>
            <td><a  href="{{ url_for('get_cards_for_board', board_id=board['board_id']) }}">{{ board['title'] }}</a></td>
            <td><a  href="{{ url_for('get_cards_for_board', board_id=board['board_id']) }}">{{ board['card_order'] }}</a></td>
            <td><a  href="{{ url_for('get_cards_for_board', board_id=board['board_id']) }}">{{ board['archived'] }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</body>
</html>