<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<style>

    td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
    }
</style>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>title</th>
        <th>priority</th>
    </tr>
    </thead>


<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>board_id</th>
        <th>status_id</th>
        <th>title</th>
        <th>card_order</th>
        <th>archived</th>
    </tr>
    </thead>
    <tbody>
    {% for card in cards %}
        <tr>
            <td><a  href="{{ url_for('get_cards_for_board', board_id=card['board_id']) }}">{{ card['id'] }}</a></td>
            <td><a  href="{{ url_for('get_cards_for_board', board_id=card['board_id']) }}">{{ card['board_id'] }}</a></td>
            <td><a  href="{{ url_for('get_cards_for_board', board_id=card['board_id']) }}">{{ card['status_id'] }}</a></td>
            <td><a  href="{{ url_for('get_cards_for_board', board_id=card['board_id']) }}">{{ card['title'] }}</a></td>
            <td><a  href="{{ url_for('get_cards_for_board', board_id=card['board_id']) }}">{{ card['card_order'] }}</a></td>
            <td><a  href="{{ url_for('get_cards_for_board', board_id=card['board_id']) }}">{{ card['archived'] }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</body>
</html>